{% extends 'padre.html' %}

{% block contenidoQueCambia %}
<style>
    .empleados {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input[type="text"], input[type="number"], input[type="text"] {
    width: 40%;
    padding: 10px;
    margin: 5px 0;
}

button[type="submit"] {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px; /* Agregar margen inferior para separar del siguiente elemento */
}

/* Estilo para el botón "Ver lista de empleados" */
.btn-ver-empleados {
    margin-top: 10px; /* Agregar margen superior para separar del botón anterior */
}
</style>

<form action="{% url 'empleadosForm' %}" method="post"> {% csrf_token %}
    <div class="empleados">
        <h2>Agregar un nuevo empleado</h2>
        <br>
        {{ emplForm.nombre.label_tag }}
        {{ emplForm.nombre }}
        <br>
        {{ emplForm.apellido.label_tag }}
        {{ emplForm.apellido }}
        <br>
        {{ emplForm.cuil.label_tag }}
        {{ emplForm.cuil }}
        <br>
        {{ emplForm.fecha_ingreso.label_tag }}
        {{ emplForm.fecha_ingreso }}
        <br>
        <button type="submit">Guardar</button>
        <a href="{% url 'empleados' %}" class="btn btn-primary btn-ver-empleados">Ver lista de empleados</a>
    </div>
</form>
{% endblock contenidoQueCambia %}
